body {
    max-width: 480px;
    height: 100vh;
    width: 100vw;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    margin: 0;
}

header {
    height: 357px;
    margin-bottom: -50px;
    position: relative;
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */     
}

section {
    background-color:black;
    height: 100%;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 40px;
    margin: 10px 5px 5px 5px;
}

.balance-deposit {
    display: flex;
    width: 40vw;
    justify-content: space-evenly;
    color: white;
    font-size: 0.9em;
}

.profile {
    width: 30px;
    height: 30px;
}

.balance {
    width: 20vw;
    height: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05em;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.burger-menu {
  font-size: 28px;
  background: none;
  border: none;
  padding: 0 5px 0 10px;
  text-decoration: none;
  color: white;
}

.search-wrapper {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin: 10px 0;
}

.search-container {
    width: 90vw;
    height: 45px;
    display: flex;
    opacity: 0.4;
}

.search {
    padding-left: 10px;
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    background-color: gray;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    font-weight: bold;
    color: white;
}

.search::placeholder {
    color: white;
}

.search-icon {
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 5px 10px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-icon img {
    height: 20px;
    width: 20px;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 170px;
    margin: 5px 0 15px 15px;
    position: relative;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.card {
    margin-right: 10px; /* Optional: space between cards */
    background: linear-gradient(to top left, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    text-align: center;
    padding: 25px;
    font-size: 18px;
    user-select: none; /* Disable text selection during swipe */
    height: 100px;
    width: 250px;
    color: black;
}

.games {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-section {
    width: 90vw;
    margin: 10px 0;
    font-weight: bold;
    color: white;
    font-size: 16px;
}

.section-title {
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-subtitle {
    width: 100%;
    font-size: 12px;
}

.gameTile {
    height: 100px;
    width: 100px;
    background-color: blue;
}

.games-wrapper {
    display: flex;
}

.icon-nav {
    display: flex;
    overflow-x: scroll;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 170px;
    margin: 5px 0 15px 15px;
    position: relative;
}

.icon-nav::-webkit-scrollbar {
    display: none;
}

.nav-item {
    margin-right: 10px; /* Optional: space between cards */
    text-align: center;
    padding: 25px;
    font-size: 18px;
    user-select: none; /* Disable text selection during swipe */
    height: 50px;
    width: 50px;
    color: white;
}

.nav-icon {
    height: 25px;
    width: 25px;
}